<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919954608310-gopc6vn6iigvs28f6gahbmt3m78fni9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919954608310-gopc6vn6iigvs28f6gahbmt3m78fni9g</string>
	<key>API_KEY</key>
	<string>AIzaSyDt3yVZdkBr3YqAjcbrIzA0cUa_-do75R4</string>
	<key>GCM_SENDER_ID</key>
	<string>919954608310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>robertfranczak</string>
	<key>PROJECT_ID</key>
	<string>foczka-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>foczka-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919954608310:ios:69f7f9f9bff81780859617</string>
</dict>
</plist>